<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <QA.Properties.Settings>
            <setting name="Indicators" serializeAs="String">
                <value>@"..\..\Data\Indicators.xml"</value>
            </setting>
            <setting name="Metrics" serializeAs="String">
                <value>@"..\..\Data\Metrics.xml"</value>
            </setting>
            <setting name="Criteria" serializeAs="String">
                <value>@"..\..\Data\Criteria.xml"</value>
            </setting>
            <setting name="Matrix" serializeAs="String">
                <value>@"..\..\Data\SoftwareToolsAndCritariaMatrix.txt"</value>
            </setting>
            <setting name="Phases" serializeAs="String">
                <value>@"..\..\Data\LifeCyclePhases.xml"</value>
            </setting>
            <setting name="SoftwareTools" serializeAs="String">
                <value>@"..\..\Data\SoftwareTools.xml"</value>
            </setting>
        </QA.Properties.Settings>
    </applicationSettings>
</configuration>